<div>

  <p> {{pageTitle}}</p>

  <mat-form-field class="text-field">
    <input matInput placeholder="Имя" [formControl]="firstNameControl">
    <mat-error *ngIf="firstNameControl.hasError('required')">
      Поле является <strong>обязательным</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="text-field">
    <input matInput placeholder="Фамилия" [formControl]="lastNameControl">
    <mat-error *ngIf="lastNameControl.hasError('required')">
      Поле является <strong>обязательным</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="text-field">
    <input matInput placeholder="Персональный номер" [formControl]="personalNumberControl" (keydown)="onlyDigits($event)">
    <mat-error *ngIf="personalNumberControl.hasError('required')">
      Поле является <strong>обязательным</strong>
    </mat-error>
    <mat-error *ngIf="personalNumberControl.hasError('minlength') || personalNumberControl.hasError('maxlength')">
      Количество цифр должно быть 11.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Пол" [(ngModel)] = "person.genderId">
      <mat-option *ngFor="let gender of listGenders" [value]="gender.id">
        {{ gender.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Дата рождения"  [formControl]="birthdateControl">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="birthdateControl.hasError('required')">
      Поле является <strong>обязательным</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="text-field">
    <input matInput placeholder="Зарплата" [formControl]="salaryControl" (keydown)="onlyDecimal($event)" [type]="'number'">
    <mat-error *ngIf="salaryControl.hasError('required')">
      Поле является <strong>обязательным</strong>
    </mat-error>
    <mat-error *ngIf="salaryControl.hasError('min')">
      Значение должно быть больше нуля.
    </mat-error>
  </mat-form-field>


  <p>
    <button mat-button (click)="save()"
            [disabled]="firstNameControl.hasError('required') ||
            lastNameControl.hasError('required') ||
            personalNumberControl.hasError('required') || personalNumberControl.hasError('minlength') || personalNumberControl.hasError('maxlength') ||
            salaryControl.hasError('min') || salaryControl.hasError('required') ||
            birthdateControl.hasError('required')
"
    >
      {{saveButtonLabel}}
    </button>
    <button mat-button (click)="cancel()"> Отмена</button>
  </p>

</div>
