<mat-form-field class="example-full-width">
  <input matInput placeholder="Фильтр" (keyup)="applyFilter($event.target.value)">
</mat-form-field>

<button mat-button (click)="addPerson()">Добавить персону</button>

<mat-table #table [dataSource]="dataSource">

  <ng-container matColumnDef="firstName">
    <mat-header-cell *matHeaderCellDef> Имя </mat-header-cell>
    <mat-cell *matCellDef="let element">
          {{element.firstName}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <mat-header-cell *matHeaderCellDef> Фамилия </mat-header-cell>
    <mat-cell *matCellDef="let element">
        <span>
          {{element.lastName}}
        </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="personalNumber">
    <mat-header-cell *matHeaderCellDef> Персональный номер </mat-header-cell>
    <mat-cell *matCellDef="let element">
        <span>
          {{element.personalNumber}}
        </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="birthdate">
    <mat-header-cell *matHeaderCellDef> Дата рождения </mat-header-cell>
    <mat-cell *matCellDef="let element">
        <span>
          {{ element.birthdate | date: dateFormat}}
        </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="gender">
    <mat-header-cell *matHeaderCellDef> Пол </mat-header-cell>
    <mat-cell *matCellDef="let element">
        <span>
          {{element.gender.name}}
        </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="salary">
    <mat-header-cell *matHeaderCellDef> Зарплата </mat-header-cell>
    <mat-cell *matCellDef="let element">
        <span>
          {{element.salary | number: numberFormat}}
        </span>
    </mat-cell>
  </ng-container>


  <ng-container matColumnDef="buttons">
    <mat-header-cell *matHeaderCellDef>
      Управление
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-button (click)="editItem(element)">
        <span>Редактировать</span>
      </button>

      <button mat-button (click)="deleteItem(element)">
        <span>Удалить</span>
      </button>

    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>

<mat-paginator #paginator
               [pageSize]="10"
               [showFirstLastButtons]="true">
</mat-paginator>
